

.carousel-cell 
	width: 100%
	height: auto
	margin-right: 10px


.product__photo__list
	border: solid 10px #fff
	background: #fff
	width: 100%

	&__item__image 
		width: 100%
		max-width: 100%
		display: block



@supports(position: sticky)
	.stickme
		+media-up(md)
			position: sticky
			top: 120px
			margin-bottom: 15px
