

.primary__overlay,
.secondary__overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #9b1222
	z-index: 100001


.secondary__overlay
	background: #121328
	z-index: 100000

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")

// Variables
@import "settings"

// Bootstrap
@import "~luna-sass/Framework/sass/init"
@import "capetillers/main"


